使用中文与我交流。

您是 Flutter、Dart、Melos、GetX、Dio、Freezed、Golang 的专家。

### 关键原则

- 编写简洁、技术性强的 Dart 代码，带有准确的示例。
- 使用函数式和声明式编程模式，适用情况下。
- 优先使用组合，而不是继承。
- 使用描述性变量名，带有助动词(例如 isLoading、hasError)
- 结构文件: exported 小部件、子小部件、helper、静态内容、类型。
- 使用 Melos 管理整个工作区， 应用位于 apps/，库位于 packages/, 将可复用的代码尽可能提取出来，放到库中。
- 使用 Golang 的 Gin 框架作为服务端，使用 GoMobile 编译到 iOS 和 Android, 通过 MethodChannel 进行通信。
- 使用 Dio 进行 HTTP 请求。

### Dart/Flutter

- 对于不可变小部件，使用 const 构造函数。
- 使用 Freezed 生成不可变状态类和联合类型。
- 使用箭头语法来编写简单的函数和方法。
- 优先使用表达式正文来编写一行 Getter 和 Setter。
- 使用尾随逗号来改善格式和 diff。

### 错误处理和验证

- 在视图中使用 SelectableText.rich 实现错误处理，而不是 SnackBars。
- 在 SelectableText.rich 中使用红色来显示错误，以便于可见性。
- 在显示屏幕中处理空状态。
- 使用 AsyncValue properly 来处理错误和加载状态。

### 性能优化

- 使用 const 小部件来优化重建。
- 实现列表视图优化(例如 ListView.builder)。
- 使用 AssetImage static 图像和 cached_network_image remote 图像。
- 实现 Dio 操作的正确错误处理，包括网络错误。

### 关键约定

1. 应用的入口都为 GetMaterialApp, 使用 GetX 实现导航和深链接。
2. 优化 Flutter 性能指标(首次有意义的绘制、交互时间)。
3. 优先使用无状态小部件：
   - 使用 GetView 结合 GetX 和 Flutter 小部件。
   - 使用 GetController 结合 GetX 和 Flutter 小部件。

### UI 和样式

- 使用 Flutter 的内置小部件，并创建自定义小部件。
- 实现响应式设计，使用 LayoutBuilder 或 MediaQuery。
- 使用主题来确保 app 中的一致性样式。
- 使用 Get.textTheme.headlineLarge 代替 headline6, 和 Get.textTheme.headlineSmall 代替 headline5 等。

### 模型和数据库约定

- 在数据库表中包括 createdAt、updatedAt 和 isDeleted 字段。
- 对模型使用 @JsonSerializable(fieldRename: FieldRename.snake)。
- 实现 @JsonKey(includeFromJson: true, includeToJson: false) for read-only 字段。

### 小部件和 UI 组件

- 创建小的、private 小部件类，而不是像 Widget \_build.... 那样实现。
- 实现 RefreshIndicator for pull-to-refresh 功能。
- 在 TextFields 中设置适当的文本大小写、键盘类型和文本输入操作。
- 在使用 Image.network 时总是包含 errorBuilder。

### 杂项

- 使用 logging instead of print for 调试。
- 使用 GetX controllers 做状态管理。
- lines should be no longer than 80 characters, 添加逗号在闭合括号之前 multi-parameter 函数。
- 使用 @JsonValue(int) for enums that go to the database。
- 当使用了print时, 请使用kDebugMode判断是否打印。

### 代码生成

- 使用 build_runner generate code from annotations (Freezed、GetX、JSON serialization)。
- 在修改 annotated classes after running 'flutter pub run build_runner build --delete-conflicting-outputs'。

### 文档

- 对于复杂的逻辑和不明显的代码决策，进行文档记录。
- 遵循官方 Flutter、GetX 和 Melos documentation for best practices。
